{% extends 'orders/header.html' %}

{% block content %}
    <div class="contactbox">
      <div class="row justify-content-center">
        <div>
          <h3><u>Contact Details</u></h3> <br>
          <p>Our phone numbers are +917986683794 or +919855236674</p>
          <p>Find us on Twitter <a href="https://twitter.com/FoodOrderingDjango" target="_blank">@FoodieExpres</a></p>
          <p>And Instagram <a href="https://instagram.com/foodorderingDjango" target="_blank">@FoodieExpress</a></p>
          <p>If you have any questions or comments or would like to get on our email list you can email us at <a href="mailto:foodiexpress@gmail.com">foodiexpress@gmail.com</a></p>
        </div>
        <div class="directionbox">
          <div class="row justify-content-center" style="margin-top:20px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d852.173400699458!2d75.60050141604025!3d31.31221258665637!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a5a35546f8c81%3A0x1b699b8a6f1a6647!2sKhalsa%20college!5e0!3m2!1sen!2sin!4v1742654406319!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="row justify-content-center" style="margin-top:20px;">
     </div>
    
        </div>
      </div>
      
    </div>
{% endblock %}